:root {
  --color-yellow: #e4ba22;
  --color-yellow-dark: #a58614;
  --color-gray: #56565A;
  --color-dark-bg: #1D1B1B;
  --color-black: #242222;
  --color-white: #f8f8f8;

}


* {
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  outline: none;
}

input {
  outline: none;
}

